<template name="bots">
	<div class="row">
		<button class="btn btn-primary" data-toggle="modal" data-target="#add-bot-modal">New Bot</button>
	</div>

	<div id="add-bot-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addBotModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Bot</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group strategy">
              <label>Strategy</label>
              <select class="form-control">
								<option value="placeholder" disabled selected>Select Strategy</option>
								{{#each strategies}}
								<option value="{{_id}}">{{name}}</option>
								{{/each}}
                <!-- <option>Scalping</option>
                <option disabled>Basis Arbitrage</option>
								<option disabled>Spot Arbitrage</option> -->
              </select>
            </div>
						{{#if strategyIs "scalping"}}
							{{> scalping}}
						{{else}} {{#if strategyIs "spot_arbitrage"}}
							{{> spot_arbitrage}}
						{{/if}}{{/if}}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>

	<div id="bots" class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>P/L</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{#each bots}}
					{{> bot}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="bot">
	<tr data-id="{{_id}}">
		<td>{{_id}}</td>
		<td>{{strategy}}</td>
		<td></td>
		<td></td>
		<td>
			<button type="button" class="btn btn-default btn-sm">Delete</button>
		</td>
	</tr>
</template>

<template name="scalping">
	<div class="form-group exchange">
		<label>Exchange</label>
		<select class="form-control">
			<option value="placeholder" disabled selected>Select Exchange</option>
			{{#each exchanges}}
			<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
	</div>
		{{#if selectedExchange}}
		{{#with selectedExchange}}
		<div class="form-group trade-type">
			<label>Trade Type</label>
			<select class="form-control">
				<option value="placeholder" disabled selected>Select Type</option>
				{{#each tradeTypes}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
			{{#if selectedTradeType}}
			{{#with selectedTradeType}}
			<div class="form-group trade-pair">
				<label>Trade Pair</label>
				<select class="form-control">
					<option value="placeholder" disabled selected>Select Pair</option>
					{{#each pairs}}
					<option value="{{base}}-{{counter}}">{{base}}/{{counter}}</option>
					{{/each}}
				</select>
			</div>
			{{/with}}
			{{/if}}
		{{/with}}
		{{/if}}

		{{#if selectedTradePair}}
		<div class="form-group max-capital">
			<label>Max Capital</label>
			<!-- <input type="text" class="form-control" placeholder="e.g 10 "> -->
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-addon">BTC</span>
			</div>
		</div>
		<div class="form-group profit-margin">
			<label>Margin</label>
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-addon">CNY</span>
			</div>
		</div>
		{{/if}}
</template>

<template name="spot_arbitrage">
	<!-- <div class="form-group exchange">
		<label>Exchanges</label>
		<select class="form-control">
			<option value="placeholder" disabled selected>Select Exchange</option>
			{{#each exchanges}}
			<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
		<select class="form-control">
			<option value="placeholder" disabled selected>Select Exchange</option>
			{{#each exchanges}}
			<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
	</div> -->
</template>
