<template name="mainLayout">
    <!--[if lt IE 9]>
      <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
    <![endif]-->

    {{> yield region="header"}}

    <div class="wrapper row-offcanvas row-offcanvas-left">
      {{> yield region="sidebar"}}

      <aside class="content-wrapper">
        <section class="content-header">
          <h1></h1>
        </section>

        <section class="content">
          {{> yield}}
        </section>
      </aside>
    </div>

    {{> yield region="footer"}}



    <!-- <div id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div> -->
</template>
