<template name="exchanges">
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{#each exchanges}}
					{{> exchange}}
				{{/each}}
			</tbody>
		</table>
		<!-- <div class="col-lg-3 col-xs-6">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>
						22300
					</h3>
					<p>
						20000 CNY + 3 BTC
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-btc"></i>
				</div>
				<a href="#" class="small-box-footer">
					More info <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div> -->

		{{#with editingAPI}}
		<div id="edit-exchange-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{editingExchange.name}}</h4>
					</div>
					<div class="modal-body">
						<form role="form">
              <div class="form-group">
                <label for="apiKey">API Key</label>
                <input type="text" value="{{key}}" class="form-control" id="apiKey" placeholder="">
              </div>
              <div class="form-group">
                <label for="apiSecret">API Secret</label>
                <input type="password" value="{{secret}}" class="form-control" id="apiSecret" placeholder="">
              </div>
            </form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</div>
		{{/with}}

	</div>
</template>

<template name="exchange">
	<tr>
		<td><a href="{{homepage}}" target="blank">{{name}}</a></td>
		<td>
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit-exchange-modal" data-id="{{_id}}">Edit</button>
		</td>
	</tr>
</template>
