<template name="header">

  <header class="main-header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-left:0">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">{{ siteTitle }}</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
          {{#if currentUser}}
            <ul class="nav navbar-nav navbar-custom-menu">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{ pathFor 'profile' }}"><i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="{{ pathFor 'entrySignOut' }}" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
                </ul>
              </li>
            </ul>
          {{else}}
            <div class="navbar-custom-menu">
              <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
              <a href="{{ pathFor 'entrySignUp' }}" class="btn btn-primary navbar-btn">Register</a>
            </div>
          {{/if}}

          <ul class="nav navbar-nav navbar-custom-menu">
            <li class="{{ isActiveRoute 'home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="{{ isActivePath 'dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </header>

</template>
