<template name="sidebar">
	<aside class="main-sidebar sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<ul class="sidebar-menu">
				<li>
					<a href="/">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/bots">
						<i class="fa fa-bullseye"></i> <span>Bots</span>
					</a>
				</li>
				<li>
					<a href="/exchanges">
						<i class="fa fa-bar-chart-o"></i> <span>Exchanges</span>
					</a>
				</li>
			</ul>
		</section>
	</aside>
</template>
